@model List<ShoppingCart>

<form method="post">
    <br />
    <div class="card shadow border-0">
        <div class="card-header bg-secondary bg-gradient text-light ml-0 py-4">
            <div class="row px-4">
                <div class="col-6">
                    <h5 class="pt-2 text-white">
                        Shopping Cart
                    </h5>
                </div>
            </div>
        </div>
        <div class="card-body my-4">
            <div class="row">
            </div>
            <div class="row mb-3 pb-3">
                <div class="col-md-2 offset-md-1">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary text-uppercase mb-5 btn-sm"><small>Continue Shopping</small></a>
                </div>
                <div class="col-md-10 offset-md-1">
                    @foreach (var cart in Model)
                    {
                        <div class="row border-bottom pb-3">
                            <div class="d-none d-lg-block col-lg-1 text-center py-2">
                                <img src="@cart.Product.ImageUrl" class="rounded" width="100%" />
                            </div>
                            <div class="col-12 col-lg-6 pt-md-3">
                                <h5 class="text-uppercase text-secondary"><strong>@cart.Product.Title</strong></h5>
                                <p><small>@Html.Raw(cart.Product.Description)</small></p>
                            </div>
                            <div class="col-12 col-lg-5 text-center row">
                                <div class="col-3 text-md-right pt-2 pt-md-4">
                                    <h6 class="fw-semibold">
                                        @cart.Price.ToString("C")
                                        <span class="text-muted">&nbsp;x&nbsp;</span>@cart.Count
                                    </h6>
                                </div>
                                <div class="col-6 col-sm-4 col-lg-6 pt-2">
                                    <div class="w-75 btn-group" role="group">

                                        @* The first form is just to fix some bug in the increment button, the increment button 
                                        is not working without the first form, so I added it to fix the bug,
                                        Idk why this is happening, try fix it later *@
                                        <form asp-controller="Cart" asp-action="Index" asp-route-id="@cart.Id" method="post">
                                            <button style="display: none;" type="submit" class="btn btn-outline-primary bg-gradient py-2">
                                                <i class="bi bi-plus-square"></i>
                                            </button>
                                        </form>
                                        @* ******************************************************************** *@

                                        <form asp-controller="Cart" asp-action="IncrementCount" asp-route-id="@cart.Id" method="post" style="display:inline;">
                                            <button type="submit" class="btn btn-outline-primary bg-gradient py-2">
                                                <i class="bi bi-plus-square"></i>
                                            </button>
                                        </form>
                                        &nbsp;
                                        <form asp-controller="Cart" asp-action="DecrementCount" asp-route-id="@cart.Id" method="post" style="display:inline;">
                                            <button type="submit" class="btn btn-outline-primary bg-gradient py-2">
                                                <i class="bi bi-dash-square"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-3 col-sm-4 col-lg-2 offset-lg-1 text-right pt-2">
                                    <form asp-controller="Cart" asp-action="Remove" asp-route-id="@cart.Id" method="post">
                                        <button type="submit" class="btn btn-danger bg-gradient py-2">
                                            <i class="bi bi-trash-fill"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="card-footer bg-white border-0">
                <div class="row">
                    @if (Model.Count > 0)
                    {
                        <div class="col-md-4 offset-md-4">
                            <ul class="list-group mb-4">
                                <li class="d-flex justify-content-between align-items-center">
                                    <h5 class="text-dark fw-semibold text-uppercase">Total (USD)</h5>
                                    <h4 class="text-dark fw-bolder">@ViewBag.TotalSalary.ToString("C")</h4>
                                </li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-3 offset-md-5">
                            <h5>Your cart is empty</h5>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-md-2 offset-md-5">
                        @if (Model.Count > 0)
                        {
                            <a asp-controller="Cart" asp-action="Summary" class="btn btn-primary border-0 bg-gradient w-100 py-2">Summary</a>
                        }
                        else
                        {
                            <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-primary border-0 bg-gradient w-100 py-2">Get some products !</a>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>